body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
    position:relative;
}

/*pseudo elememto before 10 pts*/
body::before {
    content: 'Pacman Ghost'; 
    color: yellow; 
    font-size: 4rem; 
    font-style: oblique;
    transform: translateY(-100px);
}

.pacman-ghost {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 100px 100px 0 0;
    position: relative;

}

/*pseudo elememto after 10 pts*/
.pacman-ghost::after {
    content: '';
    display: block;
    width: 210px; 
    height: 0; 
    border-top: 20px solid #fff;
    border-right: -40px solid #fff; 
    border-bottom: none; 
    margin: -20px auto 0; 
    transform: translateY(250px);
    opacity: 0.5;
}



/*cambio de estado hover y animacion cambio color (12pts) y transicion 20 pts*/
.pacman-ghost:hover {
    transition: all 0.5s ease; 
    transform: scale(1.5); 
    animation: colorShift 0.5s infinite;
} 

.pacman-ghost:hover .wave {
    animation: colorShift 0.5s infinite; 
}

/*animacion 12pts cambio de color al hover*/
@keyframes colorShift {
    0% { background-color: red; }
    14% { background-color: blue; }
    28% { background-color: green; }
    42% { background-color: yellow; }
    56% { background-color: purple; }
    70% { background-color: orange; }
    84% { background-color: pink; }
    100% { background-color: red; }
}


/*selector ">" (5pts) */
.pacman-ghost > .bottom {
    display: flex;
    position: relative;
    top: 160px;
    justify-content: space-between;
}



/*selector ">" (5pts) */
.pacman-ghost > .eyes {
    position: relative;
    top: 30px;
    display: flex;
    justify-content: space-around;
}

.eye {
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
   
}

 /* hover 12 pts transision  para el eye hover color 20 pts */
.eye:hover {
    transition: background-color 0.7s ease;
    background-color: #111010;
}

/*selector "+" (5pts) */
.eye + .eye {
    margin-left: 16px; 
}


/*combinador de descendendientes (5pts) */
.eye .pupil {
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
}

/*selector "~"  (5 pts)*/
.eye .pupil ~ .pupil {
    background-color: #555; 
}


/*pseudo-clases :first-child y :last-child (5pts) y animacion 12pts */
.left-eye:first-child { animation: eyeBlink 5s infinite; }
.right-eye:last-child { animation: eyeBlink 5s infinite; }

/*animacion 12pts */
@keyframes eyeBlink {
    0%, 100% { height: 48px; }
    50% { height: 8px; }
}


.wave {
    width: 50px;
    height: 45px;
    background-color: red;
    margin-top: -30px;
    margin-top: -30px;
}


/*pseudo-clases :nth-child() (5pts) */
.wave:nth-child(n) {
    background-color: red;
    transform: rotate(45deg);
    border-radius: 10px 20px;
}




